@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
/* line 3, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
div.first {
  background-image: url("../images/clem-onojeghuo-203219.jpg");
  height: 100vh;
  background-attachment: fixed;
  width: 100%;
  z-index: 2; }
  /* line 9, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
  div.first p {
    color: white;
    font-size: 70px;
    font-family: Open Sans;
    text-align: center;
    margin-top: 200px;
    font-weight: 800; }

/* line 19, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
#box {
  background-color: turquoise;
  color: whitesmoke;
  font-size: 21px;
  font-weight: 700;
  font-family: Open Sans;
  margin: auto;
  width: 171px;
  padding: 10px;
  text-align: center; }

/* line 33, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
div.second {
  height: 106vh; }

/* line 37, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
#head {
  font-weight: 800;
  text-align: center;
  margin: 8% 0px 2%;
  font-size: 50px;
  font-family: Open Sans; }

/* line 46, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
#head1 {
  font-weight: 800;
  text-align: center;
  margin: 8% 0px 2%;
  font-size: 50px;
  font-family: Open Sans; }

/* line 54, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
.text, .text1 {
  font-size: 20px;
  text-align: center;
  margin: auto 10%;
  margin-bottom: 14%; }

/* line 60, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
.third {
  background-color: black;
  color: white;
  height: 106vh; }

/* line 65, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
.socialbox {
  color: white;
  font-size: 20px;
  font-family: Open Sans;
  text-align: center;
  margin: auto;
  text-align: center; }

/* line 74, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
.social {
  display: inline-block;
  margin: 4%;
  font-weight: 800;
  background-color: white;
  color: black;
  padding: 2%;
  cursor: pointer; }

/* line 84, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
.text1 {
  margin-bottom: 4%;
  margin-top: 3%; }

/* line 89, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
.you:hover {
  background-color: tomato;
  color: white; }

/* line 93, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
.fb:hover {
  background-color: steelblue;
  color: white; }

/* line 98, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
.twi:hover {
  background-color: #01b0b0;
  color: white; }

/* line 102, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
.footer {
  padding: 5% 5% 5% 5%;
  background-color: #0f0f0f;
  color: #3b3b3b; }

/* line 107, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
#flogo {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: bolder;
  margin: 0px; }

/* line 114, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
#flogor {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: bolder;
  margin: 0; }

/* line 120, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
#con {
  font-family: Open Sans;
  margin: 0px; }

/* line 124, C:/Users/Nishutosh Sharma/Desktop/new/css/index.scss */
#dnd {
  font-size: 12px;
  margin: 0% 0% 0% 0%;
  font-family: Open Sans; }

/*# sourceMappingURL=index.css.map */